@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(font.css);

*{box-sizing: border-box;}

body{
    font-family: "Noto Sans KR", sans-serif;
    color: #000;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}

span{
    display: block;
}

header{
    position: fixed;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-left: 60px;
}
header a.title-logo{
    display: block;
    width: 220px;
    color: #032E86;
    font-weight: 700;
    float: left;
    padding-top: 13px;
    padding-bottom: 13px;
}
header p{
    margin: 0; /*p의 디폴트 마진 1em 없애기*/
}
header p:first-of-type{
    font-size: 23px;
}
header p:last-of-type{
    font-size: 13px;
    text-transform: uppercase; /*글자 대문자*/
    letter-spacing: 1px;
}
header img{
    height: 35px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
header nav.center{
    float: left;
}

header nav.right{
    float: right;
}
/*오른쪽 네비게이션*/

ul.right-nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 260px;
}
ul.right-nav li{
    float: right;
    text-align: center;
}
a.right-btn{
    display: block;
    background-color: #00b1b0;
    font-size: 20px;
    color: #fff;
    width: 180px;
    height: 80px;
    line-height: 80px;
}
a.right-btn::after{
    margin-left: 10px;
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/icon-arrow-more.svg) no-repeat center;
    filter: grayscale(1) brightness(100);
}
a.language{
    padding-right: 30px;
    line-height: 80px;
}

/*center*/

nav.center{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
ul.main-nav{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    width: 50%;
    font-size: 20px;
    font-weight: 600;

}
ul.main-nav::after{
    content: "";
    display: table;
    clear: both;
}
/*박스안에 가상의 테이블로 만드는거*/

ul.main-nav a{
    display: block;
    line-height: 80px;
    padding-left: 20px;
}
ul.main-nav a:hover{
    color:#00b1b0;
}
ul.main-nav li{
    float: left;
}

/*서브 네비게이션*/


.sub-nav{
    width: 100%;
    padding: 40px;
    background-color: #ddd;
    position: absolute;
    top: 80;
    left: 0;
    
}
ul.sub{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

ul.sub a{
    display: block;
    padding-left:80px;
    font-size: 20px;
}

ul.sub li{
    float: left;
}
